<%- include('./include/header') %>
<main data-label=<%= character.label %>>
  <a href="/tekken7" id="home-link">Home</a>
  <h1><%= character.displayName %> Frame Data</h1>
  <table id="movelist">
    <thead>
      <tr>
        <th>Notation</th>
        <th>Hit Level</th>
        <th>Damage</th>
        <th>Speed</th>
        <th>Block</th>
        <th>Hit</th>
        <th>Counterhit</th>
        <th class="edit-td"></th>
      </tr>
    </thead>
    <tbody>
      <% character.movelist.forEach(move => { %>
        <tr data-preview=<%= move.preview_url ? move.preview_url : "/img/no_preview.png" %> class=<%= move.preview_url ? "preview" : "no-preview" %>>
          <td><%= move.notation %></td>
          <td><%= move.hit_level %></td>
          <td><%= move.damage %></td>
          <td><%= move.speed %></td>
          <td><%= move.on_block %></td>
          <td><%= move.on_hit %></td>
          <td><%= move.on_ch %></td>
          <td class="edit-td">
            <img src="/img/edit.png" alt="edit move" class="edit-icon">
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="modal-background cancel hidden">
    <div class="modal-content">
      <h1><%= character.displayName %></h1>
      <h2>Move Notation</h2>
      <img src="" alt="move gif">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Current Value</th>
            <th>Updated Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hit Level</td>
            <td></td>
            <td>
              <input type="text" name="hit_level" value="">
            </td>
          </tr>
          <tr>
            <td>Damage</td>
            <td></td>
            <td>
              <input type="text" name="damage" value="">
            </td>
          </tr>
          <tr>
            <td>Speed</td>
            <td></td>
            <td>
              <input type="text" name="speed" value="">
            </td>
          </tr>
          <tr>
            <td>Block</td>
            <td></td>
            <td>
              <input type="text" name="on_block" value="">
            </td>
          </tr>
          <tr>
            <td>Hit</td>
            <td></td>
            <td>
              <input type="text" name="on_hit" value="">
            </td>
          </tr>
          <tr>
            <td>Counterhit</td>
            <td></td>
            <td>
              <input type="text" name="on_ch" value="">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container">
        <button type="button" name="button" class="submit">Post</button>
        <button type="button" name="button" class="cancel">Back</button>
      </div>
    </div>
  </div>
</main>

<%- include('./include/footer') %>
