<%- include('./include/header.ejs') %>
<%- include('./charPanels.ejs') %>
<main data-label=<%= character.label %>>
  <h1><%= character.displayName %> Frame Data</h1>
  <table id="movelist">
    <thead>
      <tr>
        <th>Notation</th>
        <th>Hit Level</th>
        <th>Damage</th>
        <th>Speed</th>
        <th>Block</th>
        <th>Hit</th>
        <th>Counterhit</th>
        <th class="edit-td"></th>
      </tr>
    </thead>
    <tbody>
      <% character.movelist.forEach(move => { %>
        <tr data-preview=<%= move.preview_url ? move.preview_url : "/img/no_preview.png" %> class=<%= move.preview_url ? "preview" : "no-preview" %>>
          <td><%= move.notation %></td>
          <td><%= move.hit_level %></td>
          <td><%= move.damage %></td>
          <td><%= move.speed %></td>
          <td><%= move.on_block %></td>
          <td><%= move.on_hit %></td>
          <td><%= move.on_ch %></td>
          <td class="edit-td">
            <img src="/img/play.jpg" alt="edit move" class="edit-icon">
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="modal-background cancel hidden">
    <% if (locals.loggedIn)  { %>
      <%- include("./include/modalContentEditMove.ejs", {character: character}) %>
    <% } else { %>
      <%- include("./include/modalContentViewOnly.ejs", {character: character}) %>
    <% } %>
  </div>
</main>

<%- include('./include/footer') %>
